
.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__header {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 2rem;
}

.title__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 24px;
    width: 100%;
}

.title__container{
    display: flex;
    width: 751px;
    flex-direction: column;
    gap: 24px;
    flex-shrink: 0;
}

.title__network{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

/* About Section */
.about__container {
    display: flex;
    width: 1136px;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.skills, .hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.skills__line, .hobbies__line {
    display: flex;
    align-items: flex-start;
    gap: 16px;

}

.skills__box, .hobbies__box {
    display: flex;
    width: 45%;
    width: 176px;
    height: 174px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    background-color: white;
}

.academic{
    display: flex;
    padding: 82px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: var(--cor-de-seccion);
}

.academic__courses {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.academic__courses__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


.academic__courses__item__img {
    display: flex;
    width: 368px;
    height: 286px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.experience__box {
    display: flex;
    width: 1136px;
    height: 406px;
    gap: 16px;
}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    flex: 1 0 0;
}

.formcontato{
    display: flex;
    background: var(--cor-de-seccion);
    width: 100%;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 10;
}


.formcontato__contacto{
    display: flex;
    width: 1136px;
    padding-top: 64px;
    align-items: center;
    gap: 16px;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

@media (max-width: 768px) {
    .menu {
        padding: 16px 20px;
    }

    .menu__list__item{
        display: none;
    }
    .title__div{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
        justify-content: center;
    }
    .about{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .about__container{
        display: flex;
        flex-wrap: wrap;
        padding: auto;
    }
    .about__paragraph, .title__subsection{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .title__profile, .experience__img {
        max-width: 100%;
        height: auto;
        width: 100px;
        height: 130x;
    }
    .title__container{
        display: flex;
        flex-wrap: wrap;
    }
    .title__bio {
        font-size: 22px;
    }
    .title__subsection {
        font-size: 16px;
    }
    .about{
        width: 100%;
    }
    .skills, .hobbies{
        width: 100%;
    }
    .skills__line, .hobbies__line{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .academic__courses{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .experience{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .experience__box, .experience__box2, .experience__box3, .formcontato__contacto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding: 60px;
    }
    .experience__img, .experience__info, .formcontato--esquerda, .formcontato__text {
        width: 100%;
        margin: 0;
    }
    .formcontato{
        padding: 100px 0;
        width: 100%;
    }
    .formcontato__img{
        display: none;
    }
}

@media (max-width: 425px) {
    .menu__list__item{
        display: none;
    }
    .title__div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .title__bio {
        font-size: 20px;
    }
    .title__subsection {
        font-size: 14px;
    }
    .skills__box, .hobbies__box {
        width: 100%; 
    }
}